.checkbox__input {
    // display: none;
}

// --- style castom checkbox ---

.checkbox__input:checked + .checkbox__castom::before {
    opacity: 1;
}

.checkbox__input:focus + .checkbox__castom {
    border-color: green  ;
}

.checkbox__input:hover + .checkbox__castom {

    border-color: blue  ;
}

.checkbox__input:disabled + .checkbox__castom {

    border-color: red  ;
}

// --- /style castom checkbox ---


.checkbox__castom {
    position: relative;
    display: inline-flex;
    width: 10px;
    aspect-ratio: 1;
    border: 1px lightgray solid;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 5px;
        aspect-ratio: 1;
        background-color: green;
        transition: all 0.3s ease;
        opacity: 0;
    }
}
