


.wrap-num-btn-sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


//--- counter prod  ---
.counter-prod {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    margin: 10px 0 0 0;
}
//--- /counter prod ---


// <!-- sort btn -->
.sort {
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 29px;
        width: 260px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    &__text {
        white-space: nowrap;
        color: #484848;
        font-size: 14px;
        font-weight: 600;
    }

    &__btn {
        padding: 10px 20px;
        border: transparent;
        background-color: transparent;
        border-left: 1px solid rgba(0, 0, 0, 0.2);

        &:hover .sort__svg {
            transform: rotate(180deg);
        }
    }

    &__svg {
        display: block;
        fill: rgba(0, 0, 0, 0.2);
        width: 10px;
        transition: all 0.3s ease;
    }
}
// <!-- /sort btn -->


//--- catalol-2  ---
.catalog__title-2 {
    margin-bottom: 20px;
}
.catalol-2 {
    display: grid;
    grid-template-columns: 255px 1fr;
    gap: 30px;
}

.catalog-prod {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 30px;
    }
}
//--- /catalol-2  ---


// --- filters ---
.filters {
}

// <!--tab categories -->
.categories {
    border-radius: 20px;
    background: #fff;
    padding: 30px;

    /* sh */
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.categories__line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.50);
    font-weight: 400;
}

.categories__line dt {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    
}
.categories__line dt span {
}
.categories__line dd {
    margin: 0;
}
// <!--/tab categories -->

// --- /filters ---

