<main class="main marg-main">
    <!-- wrap-catalog -->
    <div class="wrap-catalog container">
        <!-- pagination -->
        <ul class="pagination container">
            <li class="pagination__item">
                <a class="pagination__ref" href="index.html">home</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__ref">catalog</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__ref pagination__ref--active" href="#"
                    >plant protection</a
                >
            </li>
        </ul>
        <!--/ pagination -->

        <!-- catalog title -->
        <p class="container catalog__title catalog__title-2 title title-two">
            Plant protection
        </p>

        <!-- block num and sort -->
        <div class="wrap-num-btn-sort">

            @@include('../../bem-blocks/drop-menu/d-m-001/d-m-001.html')

            <!-- show prod num -->
            <p class="counter-prod">
                <span class="counter-prod__num">621</span> products are shown
            </p>
            <!-- /show prod num -->

            <div class="wrap-box-sort">
                <button class="filter-btn-mob btn-dat" hidden>Filter</button>
                <!-- sort btn -->
                <div class="sort__box">
                    <span class="sort__text">Sort by</span>
                    <button class="sort__btn">
                        <svg class="sort__svg" viewBox="0 0 12 12">
                            <use xlink:href="./img/icon/sprite.svg#arr"></use>
                        </svg>
                    </button>
                </div>
                <!-- /sort  btn-->
            </div>
        </div>
        <!-- /block num and sort -->

        <!-- catalog-prod-2 -->
        <div class="wrap-fliter-grid">
            <!-- filters -->
            <section class="wrap-categories-filter">
                <!--tab categories -->
                <div class="categories">
                    <!--tab strings -->
                    <dl class="categories__line">
                        <dt><span>Herbicides</span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Fungicides</span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Insecticides </span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Desiccants</span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Stain removers</span></dt>
                        <dd>(<span>111</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Adjuvants</span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Rodenticides</span></dt>
                        <dd>(<span>333</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Retardants</span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>
                    <!--/tab strings -->
                </div>
                <!-- tab categories -->

                <form class="filter">
                    <button
                        type="button"
                        class="filter__btn"
                        aria-hidden="true"
                    >
                        Filter
                    </button>

                    <fieldset>
                        <legend class="visually-hidden">Manufacturer</legend>
                        <div class="filter__manufacturer">
                            <p class="filter__title-manufacturer">
                                Manufacturer
                            </p>
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"nertus", "text": "Nertus" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"basf", "text": "Basf" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"adam ukraine", "text": "Adam Ukraine" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"bayer", "text": "Bayer" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"gzd", "text": "GZD" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"stefes", "text": "Stefes" })
                        </div>
                    </fieldset>

                    <fieldset class="">
                        <legend class="visually-hidden">Culture</legend>

                        <div class="filter__culture">
                            <p class="filter__title-culture">Culture</p>
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"sunflower", "text": "Sunflower" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"corn", "text": "Corn" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"Wheat", "text": "Wheat" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"Barley", "text": "Barley" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"Turnip", "text": "Turnip" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"soy", "text": "Soy" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"Pea", "text": "Pea" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"beans", "text": "Beans" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"mustard", "text": "Mustard" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"peas", "text": "Peas" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"rye", "text": "Rye" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"bean", "text": "Bean " })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"clover", "text": "Clover" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"Kostrets/Kostrytsia", "text":
                            "Kostrets/Kostrytsia" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"Alfalfa", "text": "Alfalfa" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"timothy", "text": "Timothy" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"triticale", "text": "Triticale" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"sugar-beet", "text": "Sugar beet" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"fodder-beet", "text": "Fodder beet" })
                            <!-- -- -->
                            @@include(
                            '../elements/checkbox-dat/_checkbox-dat.html', {
                            "name":"other", "text": "Other " })
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend class="visually-hidden">Number</legend>
                        <p>Number</p>
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"1", "text": "1" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"2", "text": "2" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"3", "text": "3" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"4", "text": "4" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"5", "text": "5" })
                    </fieldset>
                </form>
            </section>
            <!-- wrap categories and  filters -->

            <section class="catalog-prod">
                <!-- list card product -->
                <ul class="catalog-prod__list">
                    @@for (var i = 0; i < 15; i++) {
                    <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        { "path_img" : "./img/petunia.jpg", "alt" : "petunia",
                        "name": "Petunia Sofistika F1 0", "state" :"instock" ,
                        "price" : "4", "unit" : "1", } )
                    </li>

                    }
                </ul>
                <!-- /list card product -->

                <!-- pagination-page -->
                @@include('../../bem-blocks/pagination/pag-p_001/_pagin-page_001.html')
                <!-- /pagination-page -->
            </section>
        </div>
        <!-- / catalog-prod-2  --->
    </div>
    <!-- /wrap-catalog -->

    <section class="description desc__catalog-2">
        <div class="description__text-wrap container">
            <h1 class="title description__title">Plant protection</h1>

            <p>
                Means of plant protection are divided into four main types:
                mechanical, chemical, biological and agrotechnical. However, the
                most rational thing is their simultaneous, correct combination.
                The most common method is chemical. There are thousands of
                different types of chemical protection products. But they should
                not be confused, let alone combined with chemical fertilizers.
                The methods of their influence on plants are completely
                opposite.
            </p>

            <p>
                It is necessary to know and distinguish chemical means of plant
                protection. After all, these drugs have a strictly defined
                object of influence (the causative agent of the disease, insect
                pests, a species or family of weeds).
            </p>

            <p>
                Poisonous chemicals do not tolerate negligence. This is the type
                of drug that is not enough to simply dilute in water and spray
                plants with it. If pesticides are used incorrectly, they can
                harm you, the beneficial insects, and the crop.
            </p>
        </div>
    </section>
</main>
