.catalol-2 {
   display: grid;
   grid-template-columns:30% 1fr;
}

.catalog-prod {

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 10px;
    }
}
