<main class="main marg-main">
    <!-- wrap-catalog -->
    <div class="wrap-catalog container">
        <!-- pagination -->
        <ul class="pagination container">
            <li class="pagination__item">
                <a class="pagination__ref" href="index.html">home</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__ref">catalog</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__ref pagination__ref--active" href="#"
                    >plant protection</a
                >
            </li>
        </ul>
        <!--/ pagination -->

        <!-- catalog title -->
        <p class="container catalog__title catalog__title-2 title title-two">
            Plant protection
        </p>

        <!-- block num and sort -->
        <div class="wrap-num-btn-sort">
            <!-- show prod num -->
            <p class="counter-prod">
                <span class="counter-prod__num">621</span> products are shown
            </p>
            <!-- /show prod num -->

            <!-- sort btn -->
            <div class="sort__box">
                <span class="sort__text">Sort by</span>
                <button class="sort__btn">
                    <svg class="sort__svg" viewBox="0 0 12 12">
                        <use xlink:href="./img/icon/sprite.svg#arr"></use>
                    </svg>
                </button>
            </div>
            <!-- /sort  btn-->
        </div>
        <!-- /block num and sort -->

        <!-- catalog-prod-2 -->
        <div class="wrap-fliter-grid ">
            <!-- filters -->
            <section class="wrap-categories-filter">
                <!--tab categories -->
                <div class="categories">
                    <!--tab strings -->
                    <dl class="categories__line">
                        <dt><span>Herbicides</span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Fungicides</span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Insecticides </span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Desiccants</span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Stain removers</span></dt>
                        <dd>(<span>111</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Adjuvants</span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Rodenticides</span></dt>
                        <dd>(<span>333</span>)</dd>
                    </dl>

                    <dl class="categories__line">
                        <dt><span>Retardants</span></dt>
                        <dd>(<span>0</span>)</dd>
                    </dl>
                    <!--/tab strings -->
                </div>
                <!-- tab categories -->

                <form class="filter">
                    <fieldset>
                        <legend>Manufacturer</legend>
                    <div class="filter__manufacturer">
                        <p class="filter__title-manufacturer">Manufacturer</p>
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"nertus", "text": "Nertus" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"basf", "text": "Basf" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"adam ukraine", "text": "Adam Ukraine" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"bayer", "text": "Bayer" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"gzd", "text": "GZD" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"stefes", "text": "Stefes" })
                    </div>
                    
                    </fieldset>
                   
                    <fieldset>
                            <legend>Culture</legend>

                    <div class="filter__culture">
                        <p class="filter__title-culture">Culture</p>
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"sunflower", "text": "Sunflower" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"corn", "text": "Corn" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"Wheat", "text": "Wheat" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"Barley", "text": "Barley" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"Turnip", "text": "Turnip" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"soy", "text": "Soy" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"Pea", "text": "Pea" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"beans", "text": "Beans" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"mustard", "text": "Mustard" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"peas", "text": "Peas" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"rye", "text": "Rye" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"bean", "text": "Bean " })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"clover", "text": "Clover" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"Kostrets/Kostrytsia", "text": "Kostrets/Kostrytsia" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"Alfalfa", "text": "Alfalfa" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"timothy", "text": "Timothy" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"triticale", "text": "Triticale" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"sugar-beet", "text": "Sugar beet" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"fodder-beet", "text": "Fodder beet" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"other", "text": "Other " })
                    </div>

                    </fieldset>

                    <fieldset>
                        <legend>Number</legend>
                        <p>Number</p> 
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"1", "text": "1" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"2", "text": "2" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"3", "text": "3" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"4", "text": "4" })
                        <!-- -- -->
                        @@include(
                        '../elements/checkbox-dat/_checkbox-dat.html', {
                        "name":"5", "text": "5" })

                    </fieldset>  


                </form>


                <!--            <!-1- Number -1-> -->
                <!--            <!-1- 1 -1-> -->
                <!--            <!-1- 2 -1-> -->
                <!--            <!-1- 3 -1-> -->
                <!--            <!-1- 4 -1-> -->
                <!--            <!-1- 5 -1-> -->
                <!--            <!-1- 6 -1-> -->
            </section>
            <!-- wrap categories and  filters -->

            <section class="catalog-prod">
                <!-- list card product -->
                <ul class="catalog-prod__list">
                    @@for (var i = 0; i < 15; i++) {
                    <li>
                        <!-- @@include('../../blocks/elements/card-prod/card-prod.html', -->
                        <!-- { -->
                        <!-- "path_img" : "./img/petunia.jpg", -->
                        <!-- "alt" : "image product petunia", -->
                        <!-- "name": "Petunia Sofistika F1 0", -->
                        <!-- "state" :"instock" , -->
                        <!-- "price" : "4", -->
                        <!-- "unit" : "1", -->
                        <!-- } -->

                        <!-- ) -->
                    </li>

                    }
                </ul>
                <!-- /list card product -->
            </section>
        </div>
        <!-- / catalog-prod-2  --->
    </div>
    <!-- /wrap-catalog -->
</main>
