<main class="main marg-main">
    <!-- pagination -->

    <ul class="pagination container">
        <li class="pagination__item">
            <a class="pagination__ref" href="index.html">home</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__ref">catalog</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__ref pagination__ref--active" href="#"
                >plant protection</a
            >
        </li>
    </ul>

    <!--/ pagination -->

    <!-- catalog-prod-2 -->

    <div class="catalol-2 container">
        <section class="filters">
            @@include('../elements/checkbox-dat/_checkbox-dat.html', {
                "name" : "test",
                "text": "test"
            })


 <!-- 621 products are shown -->



<!-- Herbicides -->
<!-- Fungicides -->
<!-- Insecticides -->
<!-- Desiccants -->
<!-- Stain removers -->
<!-- Adjuvants -->
<!-- Rodenticides -->
<!-- Retardants -->


 <!-- Culture -->

<!-- Sunflower -->
<!-- Corn -->
<!-- Wheat -->
<!-- Barley -->
<!-- Turnip -->
<!-- Soy -->
<!-- Pea -->
<!-- beans -->
<!-- Mustard -->
<!-- Peas -->
<!-- Rye -->
<!-- Bean -->
<!-- Clover -->
<!-- Kostrets/Kostrytsia -->
<!-- Alfalfa -->
<!-- Timothy -->
<!-- Triticale -->
<!-- Sugar beet -->
<!-- Fodder beet -->
<!-- Other -->


<!-- Number -->
<!-- 1 -->
<!-- 2 -->
<!-- 3 -->
<!-- 4 -->
<!-- 5 -->
<!-- 6 -->

        </section>
        <section class="catalog-prod">
            <ul class="catalog-prod__list">
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
                <li>
                        @@include('../../blocks/elements/card-prod/card-prod.html',
                        {
                        "path_img" : "./img/petunia.jpg",
                        "alt" : "image product petunia",
                        "name": "Petunia Sofistika F1 0",
                        "state" :"in stock" ,
                        "price" : "4",
                        "unit" : "1",
                        })
                </li>
            </ul>
        </section>
    </div>

    <!--/ catalog-prod-2 -->
</main>
