$pag-item-mar-r: 30px;

.main-catalog {
    padding-top: calc($top-min-height + $header-min-height);
    min-height: 600px;
}

.pagination__list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    // background-color: red;
}

.pagination__item:not(:last-child) {
    position: relative;
    margin-right: $pag-item-mar-r;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: calc(($pag-item-mar-r / 2) * -1);
        transform: translate(50%, -50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-beta;
    }
}

.pagination__ref {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.15rem;
    font-weight: 400;
    &--active {
        font-weight: 700;
    }
}
