<main class="main-catalog">
    <ul class="pagination__list container">
        <li class="pagination__item">
            <a class="pagination__ref" href="index.html">home</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__ref">catalog</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__ref pagination__ref--active" href="#">plant protection</a>
        </li>
    </ul>

    <h2 class="catalog__title title title-two container">Catalog</h2>
</main>
