$pag-item-mar-r: 30px;

.main {
    padding-top: calc($top-min-height + $header-min-height);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    overflow: hidden;

    &__item:not(:last-child) {
        position: relative;
        margin-right: $pag-item-mar-r;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: calc(($pag-item-mar-r / 2) * -1);
            transform: translate(50%, -50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $color-beta;
        }
    }

    &__ref {
        color: rgba(0, 0, 0, 0.5);
        font-size: 1.15rem;
        font-weight: 400;

        &--active {
            font-weight: 700;
        }
    }
}

//--- catalog ---
//

$panel-h: 25%;

.catalog {
    display: block;
    // background-color: red;
    margin-bottom: 122px;

    &__title {
        text-align: center;
    }

    &__gallery {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 30px 26px;
        min-width: 100%;

        &-item {
            position: relative;
            display: inline-flex;
            overflow: hidden;
            height: 164px;
            background-color: #fff;
            border-radius: 20px;

            &:hover .panel {
                bottom: calc(($panel-h) * -1);
            }

            &--active {
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
            }

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .panel {
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: rgba(255, 255, 255, 0.6);
                border-radius: 20px;
                width: 100%;
                height: $panel-h;

                font-size: 1.4rem;
                font-weight: 600;
                line-height: normal;

                transition: all 0.3s ease;
            }
        }
    }
}

//---/ catalog ---

//--- description ---

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-image: url(../img/catalog-img-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: $color-text-beta;

    &__title {
        font-size: 45px;
        font-weight: 700;
    }

    & p {
        font-weight: 400;
        margin-bottom: 20px;
    }
}

//---/description ---

//
// ---  adaptive ---

@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
    .catalog {
        &__gallery {
            grid-template-columns: repeat(3, 1fr);
            // grid-template-rows: repeat(3, auto);
            gap: 30px 26px;
        }
    }
}

@media (max-width: 768px) {
    .catalog {
        &__gallery {
            grid-template-columns: repeat(2, 1fr);
            // grid-template-rows: repeat(3, auto);
            gap: 30px 26px;
        }
    }
}
@media (max-width: 425px) {
    .catalog {
        &__gallery {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px 26px;
        }
    }
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}

// ---  /adaptive ---
