
.nav {
}

.nav__list {
    display: flex;
    height: 100%;
}
.nav__item {
    flex-grow: 1;
}

.nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $color-text-light;
    font-weight: 300;
    background-color: $color-main;
}

.nav__button:hover {
    background: $color-epsilon;
}

.nav__button:hover .nav__arrow-corener {
    transform: rotate(180deg);
}

.nav__button_ofset {
    margin-left: -5px;
}

.nav__arrow-corener {
    width: 12px;
    aspect-ratio: 1;
    fill: $color-main-light;
    margin-left: 5px;
}


@import "./_adapt/nav_adapt_tablet.scss";
@import "./_size_max/nav_size_max.scss";
