.button_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $color-accent-dark;

    &:hover{
        background-color: $color-accent-dark;
    }

    &:hover .button__svg {
        fill: $color-text-light;
    }
}
