.button_light {
    background-color: $color-bg-alpha;
    border: 1px solid $color-main;
    font-size: 14px;
    font-weight: 600;
    line-height: 105.9%; /* 14.826px */
    text-transform: uppercase;

    &:hover {
        color: $color-text-light;
        border-color :$color-acent;
        background-color: $color-acent;
    }

    &:hover .svg {
        fill: $color-text-light;
    }
}

